<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductMapper">
    
    <resultMap type="Product" id="ProductResult">
        <result property="ID"    column="ID"    />
        <result property="buyList"    column="buyList"    />
        <result property="status"    column="status"    />
        <result property="MAKER"    column="MAKER"    />
        <result property="modDatetime"    column="MOD_DATETIME"    />
        <result property="CHECKER"    column="CHECKER"    />
        <result property="chckerDatetime"    column="CHCKER_DATETIME"    />
    </resultMap>

    <resultMap id="ProductBuyListResult" type="Product" extends="ProductResult">
        <collection property="buyListList" ofType="BuyList" column="ID" select="selectBuyListList" />
    </resultMap>

    <resultMap type="BuyList" id="BuyListResult">
        <result property="ID"    column="ID"    />
        <result property="productId"    column="PRODUCTID"    />
        <result property="assetType"    column="ASSET_TYPE"    />
        <result property="productCode"    column="PRODUCT_CODE"    />
        <result property="MAKER"    column="MAKER"    />
        <result property="modDatetime"    column="MOD_DATETIME"    />
        <result property="CHECKER"    column="CHECKER"    />
        <result property="chckerDatetime"    column="CHCKER_DATETIME"    />
        <result property="STATUS"    column="STATUS"    />
    </resultMap>

    <sql id="selectProductVo">
        select ID, BUYLIST, status, MAKER, MOD_DATETIME, CHECKER, CHCKER_DATETIME from product
    </sql>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>
            <if test="ID != null  and ID != ''"> and ID = #{ID}</if>
            <if test="buyList != null  and BUYLIST != ''"> and BUYLIST = #{BUYLIST}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="MAKER != null  and MAKER != ''"> and MAKER = #{MAKER}</if>
            <if test="modDatetime != null "> and MOD_DATETIME = #{modDatetime}</if>
            <if test="CHECKER != null  and CHECKER != ''"> and CHECKER = #{CHECKER}</if>
            <if test="chckerDatetime != null "> and CHCKER_DATETIME = #{chckerDatetime}</if>
        </where>
    </select>
    
    <select id="selectProductByID" parameterType="String" resultMap="ProductBuyListResult">
        select ID, buyList, status,MAKER, MOD_DATETIME, CHECKER, CHCKER_DATETIME
        from product
        where ID = #{ID}
    </select>

    <select id="selectBuyListList" resultType="BuyList" resultMap="BuyListResult">
        select ID,PRODUCTID,ASSET_TYPE, PRODUCT_CODE, MAKER, MOD_DATETIME, CHECKER, CHCKER_DATETIME, STATUS
        from buyList
        where PRODUCTID = #{productId}
    </select>

    <select id="selectByProductId" resultType="BuyList" resultMap="BuyListResult">
        select ID, PRODUCTID,ASSET_TYPE, PRODUCT_CODE, MAKER, MOD_DATETIME, CHECKER, CHCKER_DATETIME, STATUS
        from buyList
        where PRODUCTID = #{productId}
    </select>

    <insert id="insertProduct" parameterType="Product">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="buyList != null">buyList,</if>
            <if test="status != null">status,</if>
            <if test="MAKER != null">MAKER,</if>
            <if test="modDatetime != null">mod_Datetime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="buyList != null">#{buyList},</if>
            <if test="status != null">#{status},</if>
            <if test="MAKER != null">#{MAKER},</if>
            <if test="modDatetime != null">#{modDatetime},</if>
        </trim>
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="buyList != null">buyList = #{buyList},</if>
            <if test="status != null">status = #{status},</if>
            <if test="MAKER != null">buyList = #{MAKER},</if>
            <if test="modDatetime != null">#{mod_Datetime},</if>product
            <if test="CHECKER != null">buyList = #{CHECKER},</if>
            <if test="chckerDatetime != null">checker_Datetime=#{chckerDatetime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="buyList != null">buyList = #{buyList},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deleteProductByID" parameterType="String">
        delete from product where ID = #{ID}
    </delete>

    <delete id="deleteProductByIDs" parameterType="String">
        delete from product where ID in 
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

    <delete id="deleteBuyListByIDs" parameterType="String">
        delete from buyList where ID in 
        <foreach item="iD" collection="array" open="(" separator="," close=")">
            #{iD}
        </foreach>
    </delete>

    <delete id="deleteBuyListByID" parameterType="String">
        delete from buyList where ID = #{iD}
    </delete>

    <insert id="batchBuyList">
        insert into buyList( ID, PRODUCTID,ASSET_TYPE, PRODUCT_CODE, MAKER, MOD_DATETIME, CHECKER, CHCKER_DATETIME, STATUS) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.ID}, #{item.productId},#{item.assetType}, #{item.productCode}, #{item.MAKER}, #{item.modDatetime}, #{item.CHECKER}, #{item.chckerDatetime}, #{item.STATUS})
        </foreach>
    </insert>
</mapper>